body {
    margin: 0;
}

.navigation {
    background-color: black;
    padding: 15px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    color: white;
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
}

.navigation__logo-right {
    background-color: rgba(74, 144, 226, 1);
    border-radius: 5px;
    padding: 5px;
}

.navigation__panel {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px 25px;
}

.navigation__link:hover {
    background-color: white;
    color: black;
    transition: all ease-in-out 0.2s;
}

.hero {
    background-color: rgba(237, 228, 217, 1);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero__item {
    font-family: "PT Sans", sans-serif;
    position: relative;
}

.hero__item:first-child {
    grid-row: span 2;
}

.hero__item-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}

.hero__item-button {
    position: absolute;
    top: 20px;
    left: 25px;
    color: white;
    background-color: rgba(74, 144, 226, 1);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.hero__item-button:hover {
    background-color: white;
    color: rgba(74, 144, 226, 1);
    transition: all ease-in-out 0.2s;
}

.hero__item-info {
    position: absolute;
    left: 25px;
    bottom: 0;
}

.hero__item-aside {
    color: white;
}

.hero__item-header {
    color: white;
}

.main-content {
    background-color: rgba(237, 228, 217, 1);
    padding: 100px 300px 150px;
    display: grid;
    grid-column-gap: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.main-content__left-col {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    gap: 80px;
    grid-column: span 2;
}

.main-content__left-col-item {
    font-family: "PT Sans", sans-serif;
    position: relative;
}

.main-content__left-col-button {
    color: white;
    background-color: rgba(74, 144, 226, 1);
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.main-content__left-col-button:hover {
    background-color: black;
    color: white;
    transition: all ease-in-out 0.2s;
}

.main-content__left-image {
    width: 100%;
    height: 80%;
    border-radius: 5px;
}

.main-content__left-info {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
    bottom: 0;
    position: absolute;
    color: black;

}

.pagination {
    display: flex;
    gap: 15px;
}

.pagination__item {
    font-family: "PT Sans", sans-serif;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

.pagination > a:nth-child(2) > span {
    background-color: black;
    color: white;
}

.right-bar {
    font-family: "PT Sans", sans-serif;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.right-bar__blogger {
    font-family: "PT Sans", sans-serif;
    display: flex;
    flex-direction: column;
}

.right-bar__blogger-img {
    border-radius: 5px;
}

.right-bar__blogger-name {
    color: black;
}

.right-bar__blogger-aside {
    color: #999999;
}

.right-bar__blogger-about {
    color: #666666;
}

.dark-button {
    font-size: 14px;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dark-button:hover {
    background-color: white;
    color: black;
    transition: all ease-in-out 0.2s;
}

.popular-posts {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.popular-post {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.popular-post__img {
    border-radius: 5px;
}

.popular-post__header {
    margin-bottom: 5px;
    padding: 0;
}

.popular-post__aside {
    color: #666666;
}

.top-left-absolute {
    position: absolute;
    top: 20px;
    left: 20px;
}

.instagram__gallery {
    padding: 0;
    margin: 0;
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    align-items: center;
    justify-items: center;
}

.instagram__gallery > button {
    grid-column: span 2;
    justify-self: stretch;
}

.instagram-gallery__img {
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
    border-radius: 5px;
}

.tag-item {
    display: inline-block;
    border-radius: 5px;
    background-color: darkgray;
    padding: 10px;
    margin: 5px;
}

.site-footer {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
}

.site-footer__info-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*column-gap: 180px;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    background-color: rgba(23, 23, 23, 1);
    font-family: "PT Sans", sans-serif;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
}

.company-info {
    /*border: 1px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.recent-posts {
    /*border: 1px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.recent-posts__header {
    font-size: 20px;
    font-weight: 700;
}

.recent-posts__item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.recent-posts__image {
    height: 95px;
    width: 95px;
}

.recent-posts__item-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.post-header {
    margin: 0;
    /*border: 1px solid red;*/
    font-size: 15px;
    font-weight: 700;
    line-height: 26px;
}

.post-metainf {
    margin: 0;
    font-size: 14px;
    font-style: italic;
    /*border: 1px solid red;*/

}

.newsletter {
    /*border: 1px solid crimson;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
}

.newsletter-form {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
}

.newsletter-header {
    font-size: 20px;
    font-weight: 700;
}

.newsletter-form__input-elem {
    outline: none;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgba(55, 55, 55, 1);
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;

}

.subscribe-button {
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgba(35, 35, 35, 1);
    height: 50px;
}

.navigation__footer-logo {
    font-family: "PT Sans", sans-serif;
    color: white;
}